<div class="row">
  <div class="span6">
    <%= image_tag @user.profile_photo %>
  </div>
  <div class="span6 widget">
    <div class="widget-inner">
      <h2><%= @user.name %> - <%= @user.club.name %></h2>
      <h3><%= @user.birthday %></h3>
      <p><%= @user.bio %></p>
    </div>
  </div>
</div>
